<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <p>Anna Inskeep</p>
    <p>I am a student at BYU-Idaho studying Web Design and Development.</p>
    <p>When I am not studying, I enjoy tennis, pickleball, and baking.</p>
    <img src="/images/ProfilePic.JPG" alt="Anna Inskeep">
</main>
<%- include('partials/footer') %>
</html>